body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(101, 106, 255);
}

a {
    text-decoration: none;
}

.bar_home{
    display: flex; /* จัดกึ่งกลางแนวนอน */
    align-items: center;
    background-color: rgb(0, 0, 149);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
}

.bar_home ul {
    display: flex;
    list-style: none;
    color: antiquewhite;
    margin-left: 10%; /* ลบจุด (bullet points) */
}

.bar_home li {
    width: 200px;
    font-size: 16px; /* ลบจุด (bullet points) */
}

.bar_home a {
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
}

.bar_home_01 {
    background-color: rgb(0, 0, 149);
    height: 750px;
    width: 10%;
    display: grid; /* ใช้ Grid */
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr)); /* กำหนดแถวตามขนาด */
    justify-items: center; /* จัดตำแหน่งให้ตรงกลางแนวนอน */
    align-items: center; /* จัดตำแหน่งให้ตรงกลางแนวตั้ง */
    text-align: center;
    padding-top: 35px;
    font-size: 30px;
}

.bar_home_01 i {
    font-size: 70px;
    color: rgb(149, 149, 255);
}

.com {
    display: flex;
}

.specFull {
    margin: 20px; /* ช่องว่างรอบๆ */
}

.spec-grid {
    display: grid; /* ใช้ CSS Grid */
    grid-template-columns: repeat(5, 1fr); /* แถวละ 5 คอลัมน์ */
    gap: 20px; /* ช่องว่างระหว่างกริด */
}

.spec {
    background-color: #f8f8f8; /* สีพื้นหลัง */
    padding: 15px; /* ช่องว่างภายใน */
    border: 1px solid #ccc; /* เส้นขอบ */
    border-radius: 5px; /* มุมโค้ง */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* เงาเล็กน้อย */
}


