body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(0, 30, 39);
}

a {
    text-decoration: none;
}

.bar_home{
    display: flex; /* จัดกึ่งกลางแนวนอน */
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(0, 40, 52);
}

.bar_home ul {
    display: flex;
    list-style: none;
    color: antiquewhite;
    margin-left: 200px;
}

.bar_home li {
    margin-right: 80px;
    font-size: 17px;
}

.bar_home a {
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
}

.com {
    display: flex;
}

.specFull {
    margin: 20px; /* ช่องว่างรอบๆ */
}

.spec-grid {
    display: grid; /* ใช้ CSS Grid */
    grid-template-columns: repeat(5, 1fr); /* แถวละ 5 คอลัมน์ */
    gap: 20px; /* ช่องว่างระหว่างกริด */
}

.spec {
    background-color: rgb(0, 40, 52); /* สีพื้นหลัง */
    padding: 15px; /* ช่องว่างภายใน */
    border: 1px solid #ccc; /* เส้นขอบ */
    border-radius: 5px; /* มุมโค้ง */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: aliceblue; /* เงาเล็กน้อย */
}

.pagination {
    margin: 40px;
    text-align: right;
}
.pagination a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid #ccc;
    background-color: rgb(0, 59, 77);
    font-weight: bold;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover {
    background-color: #000000;
}



